# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# OS-specific
.DS_Store
Thumbs.db

# Environment variables
.env

# VSCode settings
.vscode/

# Dependency directories
package-lock.json
yarn.lock
